// Add your custom CSS here.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --blk:#131313;
    --txt:#4f4f4f;
    --wht:#fff;
    --color1:#B32FD3;
    --color2:#FC5656;

    --h1:2.986rem!important;
    --h2:2.488rem!important;
    --h3:2.074rem!important;
    --h4:1.728rem!important;
    --h5:1.44rem!important;
    --h6:1.2rem!important;
    --font-size-lg:1.2rem!important;
    --font-size:1rem!important;
    --font-size-sm: 0.833rem!important;
    --smallest: 0.694rem!important;

}
body{
    font-size:var(--p);
}
h1{font-size: var(--h1);}
h2{font-size: var(--h2);}
h3{font-size: var(--h3);}
h4{font-size: var(--h4);}
h5{font-size: var(--h5);}
h6{font-size: var(--h6);}
.bg-black{background: var(--blk);}
.color-white,
.color-white *{color:var(--wht)}
.text-center{text-align: center;}
.font-weight-bold{font-weight: bold;}
.font-weight-800{font-weight: 800;}
.font-weight-700{font-weight: 700;}
.font-weight-600{font-weight: 600;}
.font-weight-500{font-weight: 500;}
.font-weight-normal{font-weight: normal;}
.font-weight-300{font-weight: 300;}
header.header{
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 0px;
}

.top-bar__countdown{
    font-size: var(--smallest);
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.apx-header{
    nav{}
    nav > ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap:2.5rem;
        width: fit-content;
        align-items: center;
    }
    nav > ul > li{
        color: var(--blk);
    }
    nav > ul > li > a{
        font-size: var(--font-size-sm);
        text-transform: lowercase;
        display: block;
        font-weight: 500;
        color: var(--blk);
    }
    nav > ul > li > a.btn{
        color: #fff;
        font-weight: bold;
        font-size: var(--smallest);
    }
}
.page{background: #fff;}
.apx-footer{  
    background: #fff;
    hr{
        border-color: #666;
    }
    h5{font-weight: 700;}  
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: .5rem;
        flex-direction: column;
        li{
            
            a{
                small{font-size: var(--smallest);}
            }
            a:hover{color: var(--wht);
            text-decoration: none;}
        }
    }
    .credits{
        *{
            color: #4f4f4f;
            font-size: var(--smallest);
        }
        img{height: 16px;}
    }
    .atendimento{
        a{font-size: 14px;}
        small{margin-top: .2rem;}
    }
}
main ~ iframe{display: none;}
.bg-gradient{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, var(--color1) 0%, var(--color2) 100%);
}

.radius-100{border-radius:3rem}
.btn-padding{
    padding:.8rem 2rem;
    
}
.align-items-center{align-items: center;}
.align-items-end{align-items: flex-end;}
.justify-content-center{justify-content: center;}
.justify-content-end{justify-content: flex-end;}
.justify-content-between{justify-content: space-around;}